@model TestProject_MVC.Models.Department


@{
    ViewBag.Title = "getEmployeeDepartment";
}


@section pageHeading
{
    <div style="width:100%;background-color:lightyellow">
        <h2>getEmployeeDepartment</h2>
    </div>
}

<div>
    <h4>Department</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DepartmentName) -  @Html.DisplayFor(model => model.DepartmentName)
        </dt>
        <p>
            @Html.ActionLink("Back", "getEmployee", Request["id"])
        </p>
    </dl>
</div>