@model TestProject_MVC.Models.Department
@{
    ViewBag.Title = "submitData";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .field-validation-error {
        color: red;
    }
</style>

<h2>Custome Validation</h2>

@using (Html.BeginForm("validate", "custValidation", FormMethod.Post))
{
    <span>Department ID : </span> @Html.EditorFor(y => y.DepartmentID)
    <br />
    @Html.ValidationMessageFor(y => y.DepartmentID)
    <br />
    <br />

    <span>Name : </span>@Html.TextBoxFor(y => y.DepartmentName)
    <br />
    @Html.ValidationMessageFor(y => y.DepartmentName)
    <br />
    <br />

    <input type="submit" value="Save" />
}
