@model TestProject_MVC.Models.Department
@{
    ViewBag.Title = "submitData";
}

<style>
    .field-validation-error {
        color: red;
    }
</style>


@section pageHeading
{
    <div style="width:100%;background-color:lightyellow">
        <h2>Custome Validation</h2>
    </div>
}

@using (Html.BeginForm("validate", "custValidation", FormMethod.Post))
{
    <span>Department ID : </span> @Html.EditorFor(y => y.DepartmentID)
    <br />
    @Html.ValidationMessageFor(y => y.DepartmentID)
    <br />
    <br />

    <span>Name : </span>@Html.TextBoxFor(y => y.DepartmentName)
    <br />
    @Html.ValidationMessageFor(y => y.DepartmentName)
    <br />
    <br />

    <input type="submit" value="Save" />
}
