
@{
    ViewBag.Title = "ThirdCall";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@section pageHeading
{
    <div style="width:100%;background-color:lightyellow">
        <h2>TempData - Third Call</h2>
    </div>
}

<hr />
MobileNo from SecondCall actionMethod - <b>@ViewBag.MobileNo</b>

