@model TestProject_MVC.Models.Employee
@{
    ViewBag.Title = "Index";
}

@section pageHeading
{
    <div style="width:100%;background-color:lightyellow">
        <h2>Data From View To Controller</h2>
    </div>
}

<hr />
<h3>Post Using Parameters</h3>
<div>
    @using (Html.BeginForm("UsingParameter", "DataViewToController"))
    {
        <input name="EmployeeNo" type="number" /><br /><br />
        <input name="EmployeeName" type="text" /><br />
        <br />
        <input type="submit" value="Save" /><br /><br />
    }
</div>

<hr />
<h3>Post Using Request</h3>
<div>
    @using (Html.BeginForm("UsingRequest", "DataViewToController"))
    {
        <input name="EmployeeNo" type="number" /><br /><br />
        <input name="EmployeeName" type="text" /><br />
        <br />
        <input type="submit" value="Save" /><br /><br />
    }
</div>

<hr />
<h3>Post Using FormCollection</h3>
<div>
    @using (Html.BeginForm("UsingFormCollection", "DataViewToController"))
    {
        <input name="EmployeeNo" type="number" /><br /><br />
        <input name="EmployeeName" type="text" /><br />
        <br />
        <input type="submit" value="Save" /><br /><br />
    }
</div>

<hr />
<h3>Post Using Strongly Binding</h3>
<div>
    @using (Html.BeginForm("UsingStronglyBinding", "DataViewToController", FormMethod.Post))
    {
        @Html.TextBoxFor(x => x.EmployeeID)<br /><br />
        @Html.TextBoxFor(x => x.EmployeeName)<br />
        <br />
        <input type="submit" value="Save" /><br /><br />
    }
</div>

